<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
  <link href="/css/styles.css" rel="stylesheet" />
  <link href="/css/adminMem.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</head>
<body class="sb-nav-fixed">
<div th:replace="/admin/nav :: navBar"></div>
<div id="layoutSidenav">
  <div th:replace="/admin/sideNav :: sideNavbar"></div>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">카테고리 관리</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item"><a th:href="@{/admin/main}">Home</a></li>
          <li class="breadcrumb-item active">Category</li>
        </ol>
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-table me-1"></i>
            신고 목록
          </div>
          <div class="card-body">
            <table id="datatablesSimple1">
              <thead>
              <tr>
                <th>#</th>
                <th>카테고리 코드</th>
                <th>카테고리 이름</th>
                <th>변경</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="category, i : ${categories}">
                <td th:text="${i.count}"></td>
                <td th:text="${category.getCtCode()}"></td>
                <td th:text="${category.getCtName()}"></td>
                <td><button th:ctCode="${category.getCtCode()}" th:ctName="${category.getCtName()}"
                            th:onclick="changeCateName(this.getAttribute('ctCode'), this.getAttribute('ctName'))">이름 변경
                    </button></td>
              </tr>
              </tbody>
            </table>
          </div>
          <button class="btnAd" th:onclick="insertCategory()">카테고리 추가</button>
        </div>
      </div>
    </main>
    <div th:replace="/admin/footer :: footer"></div>
  </div>
</div>
<script th:inline="javascript">
  function changeCateName (code, name) {
    const inputString = prompt('변경할 카테고리 이름을 입력하세요', name);
    if(inputString.trim() != null && inputString.trim() != "") {
      $.ajax({
        url : "/admin/category",
        type : 'POST',
        data : {
          ctCode : code,
          ctName : inputString
        },
        success : function(data) {
          alert("변경되었습니다.");
          location.href = "/admin/category"
        },
        error : function() {
          alert("error");
        }
      })
    }
  }

  function insertCategory() {
    const input = prompt('추가할 카테고리 이름을 입력하세요', '');
    if(input.trim() != null && input.trim() != "") {
      $.ajax({
        url : "/admin/category/insert",
        type : 'POST',
        data : {
          ctName : input
        },
        success : function(data) {
          alert("추가되었습니다.");
          location.href = "/admin/category"
        },
        error : function() {
          alert("error");
        }
      })
    }
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="/js/table.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>
