<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Tables - SB Admin</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
  <link href="/css/styles.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/header.css" />
  <link href="/css/adminMem.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<div th:replace="/admin/nav :: navBar"></div>
<div id="layoutSidenav">
  <div th:replace="/admin/sideNav :: sideNavbar"></div>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">게시글 상세</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item"><a th:href="@{/admin/posts}">Posts</a></li>
          <li class="breadcrumb-item active" th:text="${post.getPTitle()}"></li>
        </ol>
        <div>
          <p> 게시글 코드 : <span id="postCode" th:value="${post.getPostCode()}" th:text="${post.getPostCode()}"></span></p>
          <p> 회원 코드 : <span th:text="${post.getPMemCode()}"></span></p>
          <p> 카테고리 : <span th:text="${post.getCtName()}"></span></p>
          <p> 제목 : <span th:text="${post.getPTitle()}"></span></p>
          <p> 가격 : <span th:text="${post.getPPrice()}"></span></p>
          <p>
           작성 시간 : <span th:text="${#dates.format(post.getPCreateTime, 'yy-MM-dd a hh시mm분')}"></span>
          </p>
          <p>
           수정 시간 : <span th:text="${#dates.format(post.getPCorrectionTime, 'yy-MM-dd a hh시mm분')}"></span>
          </p>
          <p> 조회수 : <span th:text="${post.getPView}"></span></p>
          <p> 내용 : <span th:text="${post.getPContent}"></span></p>
          <p> 판매 여부 : <span th:text="${post.getPSalesStatus()}"></span></p>
          <p> 공개 여부 : <span th:text="${post.getPOpenStatus()}"></span></p>
          <img th:each="image : ${images}"
               th:src="|/posts/images/${image.getImageFiles}|" width="300" height="300" /><br />
        </div>
        <div>
          <th:block th:if="${!post.getPOpenStatus().equals('N')}">
            <button class="btnAd" id="deleteBtn"><span>숨김 처리</span></button>
          </th:block>
          <th:block th:if="${!post.getPOpenStatus().equals('Y')}">
            <button class="btnAd" id="activateBtn"><span>활성화</span></button>
          </th:block>
        </div>
      </div>
    </main>
    <div th:replace="/admin/footer :: footer"></div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="/js/table.js"></script>
<script>

  if(document.getElementById("activateBtn")) {
    document.getElementById("activateBtn").addEventListener("click", (e)=> {
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: "/admin/post/status",
        data : {
          postCode : $('#postCode').text(),
          status : "Y"
        },
        success : () => {
          Swal.fire({
            title: "게시글 복구 완료", // Alert 제목
            text: "", // Alert 내용
            icon: "success", // Alert 타입
          }).then(() => {
            location.href = "/admin/posts"
          });
        }
      })
    })
  }

  if(document.getElementById("deleteBtn")) {
    document.getElementById("deleteBtn").addEventListener("click", (e)=> {
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: "/admin/post/status",
        data : {
          postCode : $('#postCode').text(),
          status : "N"
        },
        success : () => {
          Swal.fire({
            title: "게시글 삭제 완료", // Alert 제목
            text: "", // Alert 내용
            icon: "success", // Alert 타입
          }).then(() => {
            location.href = "/admin/posts"
          });
        }
      })
    })
  }
</script>
</body>
</html>
