<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>개인정보 수정</h1>
		
	<form action="" method="post" th:object="${memberVO}" name="memberUpdate">
		
		<label>이름
		 <input type="text" th:value="${memberVO?.memberName}" th:field="*{memberName}" 
		 	 	name="memberName"  id="uname" maxlength="6"><br>
		</label>
		
		<label>닉네임 
		<input type="text" th:value="${memberVO?.memberNick}" th:field="*{memberNick}"  
				name="memberNick"id="memberNickName" maxlength="6"><br>
		</label>
		
		
		<label>전화번호
		 <select id="PN_sel" onchange="change_PN();">
				<option value="">직접입력</option>
				<option value="010">010</option>
				<option value="011">011</option>
		</select> 
		<input type="text" th:value= "'0'+${memberVO?.memberPN1}" th:field="*{memberPN1}"
					name="memberPN1" id="mobil1" maxlength="3"> 
		-  	<input type="text" th:value="${memberVO?.memberPN2}" th:field="*{memberPN2}" 
					name="memberPN2" id="mobile2" maxlength="4">
			<input type="text" th:value="${memberVO?.memberPN3}" th:field="*{memberPN3}" 
			 		name="memberPN3" id="mobile3" maxlength="4"><br>
		</label>
		
		
		<label>주소
				<br>
				 	<input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
				<br>
					<input type="text" id="sample6_postcode" name="memberAddr1" 
							 th:value="${memberVO?.memberAddr1}"  th:field="*{memberAddr1}" readonly><br> 
					<input type="text" id="sample6_address" name="memberAddr2"
							 th:value="${memberVO?.memberAddr2}" th:field="*{memberAddr2}" readonly><br>
					<input type="text" id="sample6detailAddress" name="memberAddr3" 
							th:value="${memberVO?.memberAddr3}" th:field="*{memberAddr3}"> 
					<input type="text" id="sample6extraAddress" name="memberAddr4"
							th:value="${memberVO?.memberAddr4}" th:field="*{memberAddr4}">
			</label>
			<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

			<br>
			<button type ="submit" id="updateBtn" >수정 하기</button>
			
<!-- 	th:onClick="|location.href='@{/}'|" -->
	
			<button type ="button" th:onClick="|location.href='@{/}'|">뒤로 가기</button>
	
	</form>	
	<script>
	var pwd = document.getElementById("pwd");				//비밀번호
	var repwd = document.getElementById("repwd");			//비밀번호 확인
	var uname = document.getElementById("uname");			//이름
	var mobile1 = document.getElementById("mobile1");			//휴대폰번호
	var mobile2 = document.getElementById("mobile2");			//휴대폰번호
	var mobile3 = document.getElementById("mobile3");			//휴대폰번호
	var memberMail = document.getElementById("memberMail");	//이메일 앞
	var email_add = document.getElementById("email_add");	//이메일 뒤
	var memverBirth = document.getElementById("memberBirth");//생일
	var memberNickName = document.getElementById("memberNickName");//닉네임
	var sample6detailAddress = document.getElementById("sample6detailAddress");//상세주소
	var sample6extraAddress = document.getElementById("sample6extraAddress");//추가주소
	var email = /^[a-zA-Z0-9]/;	//이메일 정규식. 알파벳, 숫자로 구성 
	var pwdCheck = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,25}$/; //비밀번호 영문자+숫자+특수조합(8~25자리 입력) 정규식
	let reg_name1 = /^[가-힣]+$/; // 한글만
	var reg = /^[0-9]+/g; //숫자만 입력하는 정규식		
	var pattern3 = /[~!@#$%^&*()_+|<>?:{}]/;
		var canJoin = true;
	
	
 		document.getElementById('updateBtn').addEventListener('click', (e)=>{ 
		e.preventDefault(); 
		let form = document.memberUpdate; 
	    
		if (!pattern3.test(sample6extraAddress)||!pattern3.test(sample6detailAddress)) {
            alert("특수문자는 입력하실 수 없습니다.");
            
            return false;
//             obj.value = obj.value.substring(0, obj.value.length - 1);//특수문자를 지우는 구문
        }
		  if (uname.value == "") {
		    alert("이름을 입력하세요.");
		    uname.focus();
		    return false;
		  };

		  if (!reg_name1.test(uname.value)) {
		    alert("이름은 한글만 입력하세요.");
		    uname.focus();
		    return false;
		  };
		  
		  if(uname.value.length<2||uname.value.length>6){
			    alert("이름은 2글자~ 6글자로 입력해주세요.");
			    uname.focus();
			    return false;
			  };
		  if (memberNickName.value == "") {
			    alert("닉네임을 입력하세요.");
			    uname.focus();
			    return false;
			  };
			  
		  if (!reg_name1.test(memberNickName.value)) {
			    alert("닉네임은 한글만 입력하세요.");
			    memberNickName.focus();
			    return false;
			  };
			  
		if(memberNickName.value.length<2 || memberNickName.value.length>6){
		    alert("닉네임은 2글자~ 6글자로 정해주세요.");
		    memberNickName.focus();
		    return false;
		    
		  };
		  
 
		
	 	if(canJoin){
		  	if(confirm('수정 하시겠습니까?')){ 
				alert('수정에 성공하였습니다.') 
				 form.submit();
			}
	 	}
				
	 		});
 		function change_PN() {
			  var PN_add = document.getElementById("PN_add");
			  var PN_sel = document.getElementById("PN_sel");

			  //지금 골라진 옵션의 순서와 값 구하기
			  var idx = PN_sel.options.selectedIndex;
			  var val = PN_sel.options[idx].value;

			  PN_add.value = val;
			}  
	
	function sample6_execDaumPostcode() {
	        new daum.Postcode({
	            oncomplete: function(data) {
	                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

	                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
	                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
	                var addr = ''; // 주소 변수
	                var extraAddr = ''; // 참고항목 변수

	                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
	                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
	                    addr = data.roadAddress;
	                } else { // 사용자가 지번 주소를 선택했을 경우(J)
	                    addr = data.jibunAddress;
	                }

	                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
	                if(data.userSelectedType === 'R'){
	                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
	                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
	                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
	                        extraAddr += data.bname;
	                    }
	                    // 건물명이 있고, 공동주택일 경우 추가한다.
	                    if(data.buildingName !== '' && data.apartment === 'Y'){
	                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
	                    }
	                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
	                    if(extraAddr !== ''){
	                        extraAddr = ' (' + extraAddr + ')';
	                    }
	                    // 조합된 참고항목을 해당 필드에 넣는다.
	                    document.getElementById("sample6_extraAddress").value = extraAddr;
	                
	                } else {
	                    document.getElementById("sample6_extraAddress").value = '';
	                }

	                // 우편번호와 주소 정보를 해당 필드에 넣는다.
	                document.getElementById('sample6_postcode').value = data.zonecode;
	                document.getElementById("sample6_address").value = addr;
	                // 커서를 상세주소 필드로 이동한다.
	                document.getElementById("sample6_detailAddress").focus();
	            }
	        }).open();
	    }
	</script>
</body>
</html>