<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css"> <!-- alert 창     -->
<link rel="stylesheet" href="/css/header.css" />
<link rel="stylesheet" href="/css/memberOut.css">
<link rel="stylesheet" href="/css/footerSmall.css" />
<style>
body, html{
 height: 100%;
} 
body {
  display: flex;
  flex-direction: column;
}
</style>
</head>
<body>
	<div th:replace="layout/header :: headFrag"></div>
	<form action="" method="post" th:object="${member}" name="deleteMemeber" class="mamebrOutForm" id="deleteMemeber">
		<div class="pwdCheckBox" id="pwdCheckBox">
			<h3>회원탈퇴</h3>
			<p>현재 비밀번호를 입력해주세요.</p>
			<br> <label> 
			<input type="password" id="oldpassword" maxlength="25" placeholder="현재 비밀번호" name="oldpassword"><br>
			</label><br />
			<button type="button" th:onClick="|location.href='@{/}'|" class="outBack">뒤로가기</button>
			<button type="button" id="checkBtn" class="outCheckBtn">확인</button>
			<br />
		</div>
	</form>
	
	<form action="" method="post" th:object="${member}" name="memberOut" class="mamebrOutForm" id="memberOut">
		<div class="memberOutBox" id="memberOutBox">
			<p th:text="${member?.memberName}+'님의 회원 탈퇴를 진행합니다.'"></p>
			<button type="button" th:onClick="|location.href='@{/}'|" class="outBack">뒤로가기</button>
			<button type="button" id="deleteBtn" class="outBtn">탈퇴</button>
		</div>
	</form>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
	<script>
	$('input[type="password"]').keydown(function() {
		  if (event.keyCode === 13) {
		    event.preventDefault();
		  };
		});
	$("#memberOut").css("display", "none");
	var pwdCheck = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,25}$/; //비밀번호 영문자+숫자+특수조합(8~25자리 입력) 정규식
	var password = document.getElementById("oldpassword");
	var checkCnt = 0;

	document.getElementById('checkBtn').addEventListener('click', (e)=>{ 
		e.preventDefault();
		let form = document.deleteMemeber;

		  $.ajax({
			  type: "POST",
			  url: "/myPage/pwcheck",
			  data: {password : $('input#oldpassword').val()},
			  success: function(data) {
				  if(data.result == 1) {
					  
					  Swal.fire({
				            title: "비밀번호가 일치합니다!", // Alert 제목
				            text: "회원 탈퇴 버튼을 클릭하면, 탈퇴가 진행되요.", // Alert 내용
				            icon: "success", // Alert 타입
				          }); 
						checkCnt=1;
						 $("#memberOut").show();
						 $("#deleteMemeber").css("display", "none");
				  } else {
					  Swal.fire({
				            title: "비밀번호를 확인해주세요.", // Alert 제목
				            text: "", // Alert 내용
				            icon: "warning", // Alert 타입
				          });
					  password.focus();
					  return false;
				  }
			  }
		  })
	});
	
	
	
	document.getElementById('deleteBtn').addEventListener('click', (e)=>{ 
		e.preventDefault();
		let form = document.memberOut;
		
		if(checkCnt == 1){
			Swal.fire({
	            title: "회원탈퇴를 진행하시겠습니까?",
	            text: "",
	            icon: "warning",
	            showCancelButton: true,
	            confirmButtonColor: "#3085d6",
	            cancelButtonColor: "#d33",
	            confirmButtonText: "승인",
	            cancelButtonText: "취소",
	            reverseButtons: true,
	          }).then((result) => {
	        	  if(result.isConfirmed) {
			            Swal.fire({
			            	title: "회원 탈퇴가 진행되었습니다.", // Alert 제목
			                text: "다음에 다시 만나요😂", // Alert 내용
			                icon: "success", // Alert 타입
			            }).then((result) => {
			              	form.submit();	
			            });
	        	  }
	          });
		}else{
			Swal.fire({
	            title: "현재 비밀번호를 확인해주세요.", // Alert 제목
	            text: "", // Alert 내용
	            icon: "warning", // Alert 타입
	          });
			return false;
		}
		
		});	
</script>
	<script src="https://kit.fontawesome.com/9f54d9c571.js"
		crossorigin="anonymous"></script>
</body>
<div class="footerSmall" id="footer">
  	<p>Copyright © SajoMarket 2023</p>
  	</div>
</html>