<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">
<style>
.logoImg {
	width: 40px;
	height: 40px;
}
</style>
<link rel="stylesheet" href="/css/memberUpdate.css">
</head>
<style>
* {
  padding: 0;
  margin: 0;
}
form {
  width: 60%;
  height: 50px;
  margin: 150px auto;
  text-align: center;/* input의 글자 성격을 중앙정렬 하기 위해 */
}
form::before {
  content: '개인정보 수정';
  font-size: 80px;
  font-weight: 900;
}
input[type="text"] {
  height: 50px;
  width: 70%;
  border: 1px solid #e0e0e0;
  padding: 30px;/* 내용물 작성했을 때 여백감 */
  border-radius: 50px;/* 굴곡 주면 padding 값도 그에 상응하게 적용하는 것이 좋음 */
  display: block;
  margin: auto;
}
* {
  transition: all ease-in 0.5s; /* input 효과 부드럽게~~ */
}
input[type="text"] {
  outline: none; /* 가장 바깥부분을 둘러싸고 있는 아웃라인 부분의 스타일을 설정 */
}

</style>

<body>
	<div th:replace="layout/header :: headFrag"></div>
	<form action="" method="post" th:object="${member}" name="memberUpdate" class="memUpdateForm">
		<h3>개인정보 수정</h3>
		<label>이름<br>
		 <input type="text" th:value="${member?.memberName}" th:field="*{memberName}" 
		 	 	name="memberName"  id="uname" maxlength="6" class="memUpInput">
		</label>
		<label>닉네임<br> 
		<input type="text" th:value="${member?.memberNick}" th:field="*{memberNick}"  
				name="memberNick"id="memberNickName" maxlength="6" class="memUpInput">
		</label>
		<label>전화번호<br>
		<input type="text" th:value= "'0'+${member?.memberPN1}" th:field="*{memberPN1}"
					name="memberPN1" id="mobil1" maxlength="3" class="memUpPNInput"> 
		-  	<input type="text" th:value="${member?.memberPN2}" th:field="*{memberPN2}" 
					name="memberPN2" id="mobile2" maxlength="4" class="memUpPNInput">
		-					
			<input type="text" th:value="${member?.memberPN3}" th:field="*{memberPN3}" 
			 		name="memberPN3" id="mobile3" maxlength="4" class="memUpPNInput">
		</label>
		<label>주소<br>
				 	<input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기" class="memUpInput"><br>
					<input type="text" id="sample6_postcode" name="memberAddr1" 
							 th:value="${member?.memberAddr1}"  th:field="*{memberAddr1}" readonly class="memUpInput"><br> 
					<input type="text" id="sample6_address" name="memberAddr2"
							 th:value="${member?.memberAddr2}" th:field="*{memberAddr2}" readonly class="memUpInput"><br>
					<input type="text" id="sample6detailAddress" name="memberAddr3" 
							th:value="${member?.memberAddr3}" th:field="*{memberAddr3}" class="memUpInput"><br>
					<input type="text" id="sample6extraAddress" name="memberAddr4"
							th:value="${member?.memberAddr4}" th:field="*{memberAddr4}" class="memUpInput">
			</label>
			<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
			<br>
			<button type ="submit" id="updateBtn" >수정 하기</button>
			<button type ="button" th:onClick="|location.href='@{/}'|">뒤로 가기</button>
	</form>	
	<script>
	var pwd = document.getElementById("pwd");				//비밀번호
	var repwd = document.getElementById("repwd");			//비밀번호 확인
	var uname = document.getElementById("uname");			//이름
	var mobile1 = document.getElementById("mobile1");			//휴대폰번호
	var mobile2 = document.getElementById("mobile2");			//휴대폰번호
	var mobile3 = document.getElementById("mobile3");			//휴대폰번호
	var memberMail = document.getElementById("memberMail");	//이메일 앞
	var email_add = document.getElementById("email_add");	//이메일 뒤
	var memverBirth = document.getElementById("memberBirth");//생일
	var memberNickName = document.getElementById("memberNickName");//닉네임
	var sample6detailAddress = document.getElementById("sample6detailAddress");//상세주소
	var sample6extraAddress = document.getElementById("sample6extraAddress");//추가주소
	var email = /^[a-zA-Z0-9]/;	//이메일 정규식. 알파벳, 숫자로 구성 
	var pwdCheck = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,25}$/; //비밀번호 영문자+숫자+특수조합(8~25자리 입력) 정규식
	let reg_name1 = /^[가-힣]+$/; // 한글만
	var reg = /^[0-9]+/g; //숫자만 입력하는 정규식		
	var pattern3 = /[~!@#$%^&*()_+|<>?:{}]/;
		
	var canJoin = true;
	
	
 		document.getElementById('updateBtn').addEventListener('click', (e)=>{ 
		e.preventDefault(); 
		let form = document.memberUpdate; 
	    
		if(pattern3.test(sample6extraAddress.value)||pattern3.test(sample6detailAddress.value)) {
            alert("특수문자는 입력하실 수 없습니다.");
            
            return false;
        }
		  if (uname.value == "") {
		    alert("이름을 입력하세요.");
		    uname.focus();
		    return false;
		  };

		  if (!reg_name1.test(uname.value)) {
		    alert("이름은 한글만 입력하세요.");
		    uname.focus();
		    return false;
		  };
		  
		  if(uname.value.length<2||uname.value.length>6){
			    alert("이름은 2글자~ 6글자로 입력해주세요.");
			    uname.focus();
			    return false;
			  };
		  if (memberNickName.value == "") {
			    alert("닉네임을 입력하세요.");
			    uname.focus();
			    return false;
			  };
			  
		  if (!reg_name1.test(memberNickName.value)) {
			    alert("닉네임은 한글만 입력하세요.");
			    memberNickName.focus();
			    return false;
			  };
			  
		if(memberNickName.value.length<2 || memberNickName.value.length>6){
		    alert("닉네임은 2글자~ 6글자로 정해주세요.");
		    memberNickName.focus();
		    return false;
		    
		  };
		  
 
		
	 	if(canJoin){
		  	if(confirm('수정 하시겠습니까?')){ 
				alert('수정에 성공하였습니다.') 
				 form.submit();
			}
	 	}
				
	 		});	
	function sample6_execDaumPostcode() {
	        new daum.Postcode({
	            oncomplete: function(data) {
	                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

	                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
	                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
	                var addr = ''; // 주소 변수
	                var extraAddr = ''; // 참고항목 변수

	                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
	                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
	                    addr = data.roadAddress;
	                } else { // 사용자가 지번 주소를 선택했을 경우(J)
	                    addr = data.jibunAddress;
	                }

	                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
	                if(data.userSelectedType === 'R'){
	                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
	                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
	                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
	                        extraAddr += data.bname;
	                    }
	                    // 건물명이 있고, 공동주택일 경우 추가한다.
	                    if(data.buildingName !== '' && data.apartment === 'Y'){
	                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
	                    }
	                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
	                    if(extraAddr !== ''){
	                        extraAddr = ' (' + extraAddr + ')';
	                    }
	                    // 조합된 참고항목을 해당 필드에 넣는다.
	                    document.getElementById("sample6_extraAddress").value = extraAddr;
	                
	                } else {
	                    document.getElementById("sample6_extraAddress").value = '';
	                }

	                // 우편번호와 주소 정보를 해당 필드에 넣는다.
	                document.getElementById('sample6_postcode').value = data.zonecode;
	                document.getElementById("sample6_address").value = addr;
	                // 커서를 상세주소 필드로 이동한다.
	                document.getElementById("sample6_detailAddress").focus();
	            }
	        }).open();
	    }
	</script>
		<!-- JavaScript Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
		crossorigin="anonymous"></script>
</body>
</html>