<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/posts.css">
<link rel="stylesheet" href="/css/header.css" />
</head>
<body>
	<div th:replace="layout/header :: headFrag(${member.activeUUID})"></div>
	<h1>내 활동</h1>
	<h3>내 판매내역</h3>
	<div class="board-list">
		<table class="board-table">
			<thead class="postsThead">
				<tr>
					<th class="th-cate">카테고리</th>
					<th class="th-title">작성자</th>
					<th class="th-title">제목</th>
					<th class="th-view">조회수</th>
					<th class="th-view">찜</th>
					<th class="th-data">작성일</th>
				</tr>
			</thead>
			<tbody th:each="post :${posts}" th:if="${post.pOpenStatus != 'N'}"
				class="postsTbody">
				<tr>
					<td class="tr" th:text="${post.ctName}"></td>
					<td class="tr" th:text="${post.memNick}"></td>
					<td><a class="tr" th:href="@{|/posts/${post.postCode}|}"
						th:text="${post.pTitle}"></a> <span
						th:text="'('+${post.getPSalesStatus().getMemo()}+')'"></span></td>
					<td class="tr" th:text="${post.pView}"></td>
					<td class="tr" th:text="${post.heart}"></td>
					<td class="tr"
						th:text="${#dates.format(post.pCreateTime, 'yy-MM-dd a hh:mm:ss')}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<h3>내가 찜한 게시글</h3>
	<div class="board-list">
		<table class="board-table">
			<thead class="postsThead">
				<tr>
					<th class="th-cate">카테고리</th>
					<th class="th-title">작성자</th>
					<th class="th-title">제목</th>
					<th class="th-view">조회수</th>
					<th class="th-data">작성일</th>
				</tr>
			</thead>
			<tbody th:each="post :${postsHeart}"
				th:if="${post.pOpenStatus != 'N'}" class="postsTbody">
				<tr>
					<td class="tr" th:text="${post.ctName}"></td>
					<td class="tr" th:text="${post.memNick}"></td>
					<td><a class="tr" th:href="@{|/posts/${post.postCode}|}"
						th:text="${post.pTitle}"></a> <span
						th:text="'('+${post.getPSalesStatus().getMemo()}+')'"></span></td>
					<td class="tr" th:text="${post.pView}"></td>

					<td class="tr"
						th:text="${#dates.format(post.pCreateTime, 'yy-MM-dd a hh:mm:ss')}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<button type="button" th:onClick="|location.href='@{/}'|">뒤로
		가기</button>
	<script src="https://kit.fontawesome.com/9f54d9c571.js"
		crossorigin="anonymous"></script>
</body>
</html>