<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/header.css" />
</head>
<body>
	<th:block th:fragment="headFrag">
		<nav class="navbar">
			<div class="navbar_logo">
				<img src="http://localhost:8080/images/Logo.png" class="logoImg" />
				<a href="/" class="mainText-link">
				<span class="mainText text1">사</span>
            	<span class="mainText text2">조</span>
            	<span class="mainText text3">마</span>
            	<span class="mainText text4">켓</span>
			</a>
			</div>
			<div class="navbar_toggleBtn">
					<i class="fa-solid fa-bars"></i>
				</div>
			<div class="navbar_toggle">
				<div class="navbar_menu">
					<div class="navbar_menu_text">
						<a href="/posts" class="menuText">중고거래</a>
					</div>
					<div class="navbar_menu_right">
						<div class="navbar_search">
							<form action="/posts" method="post" class="searchForm">
								<input name="search" type="search" placeholder="물품을 검색해주세요."
									class="searchInput">
								<button class="searchBtn" type="submit">검색</button>
							</form>
						</div>
						<div class="dropdown">
							<button class="dropdown-button" type="button" th:text="${member.memberNick}"></button>
							<div class="dropdown-content">
								<a class="dropdown-item" href="/myPage/myPage">내 활동</a>
								<a class="dropdown-item" href="/myPage/memberUpdate">개인정보 변경</a> 
								<a class="dropdown-item" href="/myPage/passwordUpdate">비밀번호 변경</a> 
								<a class="dropdown-item" href="/myPage/memberOut">회원 탈퇴</a>
								<form  target="print_popup" action="http://localhost:3000/chat/main" method="get" onsubmit="window.open('about:blank','print_popup','width=500,height=750');">
							
								<button  class="message_BTN">
								메세지
								</button>
								</form>
								<form th:action="@{/logout}" method="post">
									<button type="submit" class="logout">로그아웃</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<script src="https://kit.fontawesome.com/9f54d9c571.js"
			crossorigin="anonymous"></script>

		<script>
        const toggleBtn = document.querySelector('.navbar_toggleBtn');
        const menu = document.querySelector('.navbar_menu');
        const search = document.querySelector('.navbar_search');
        const menu_text = document.querySelector('.navbar_menu_text');
        

        toggleBtn.addEventListener('click', () => {
            menu.classList.toggle('active');
            search.classList.toggle('active');
            menu_text.classList.toggle('active');
        });
    </script>
	</th:block>
</body>
</html>