<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/posts.css">
<link rel="stylesheet" href="/css/header.css" />
</head>
<body>
	<div th:replace="layout/header :: headFrag"></div>
	<div class="updateDiv">
		<form action="" method="post" th:object="${post}"
			enctype="multipart/form-data" s>
			<input type="hidden" name="postCode" th:field="*{postCode}">
			<select class="update_category" name="ctCode">
				<option th:each="ct : ${cateItem}" th:value="${ct.ctCode}"
					th:text="${ct.ctName}"
					th:selected="${ct.ctCode} == ${post.postCtCode}"></option>
			</select> <input type="text" name="postTitle" th:field="*{pTitle}"
				class="update_title"> <input type="number" name="postPrice"
				th:field="*{pPrice}" class="update_price">
			<textarea type="text" name="postContent" th:field="*{pContent}"
				class="update_content"></textarea>
			<div class="updateBtn">
				<input class="writing_image" type="file" multiple="multiple"
					name="imageFiles">
				<button type="submit" class="update_Btn">수정완료</button>
				<button th:onclick="|location.href='@{/posts}'|" class="update_Btn">목록보기</button>
			</div>
		</form>
	</div>
	<script src="https://kit.fontawesome.com/9f54d9c571.js"
		crossorigin="anonymous"></script>
</body>
</html>