@charset "UTF-8";

@import url(http://weloveiconfonts.com/api/?family=entypo);

@import url(https://fonts.googleapis.com/css?family=Roboto);

.logoImg {
	width: 40px;
	height: 40px;
}


*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


.login-form {
	position: relative;
	margin: 50px auto;
	width: 400px;
	height: auto;
	text-align: center;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: #F8F9FA;
	font-family: 'Roboto', sans-serif;
	padding: 20px;
}

.login-form input {
	background: lavender;
	padding: 16px;
	border-radius: 7px;
	border: 0px;
	display: block;
	margin: 10px;
	width: 300px;
	color: white;
	font-size: 15px;
	height: 54px;
	display :inline-block;
}

.login-form input:focus {
	outline-color: rgba(0, 0, 0, 0);
	background: rgba(255, 255, 255, .95);
	color: #e74c3c;
}

.login-form button {
	color: white;
	height: 50px;
	width: 60px;
	border: 0px;
	background: #e74c3c;
	border-radius: 7px;
	padding: 0px;
	color: white;
	text-align: center;
	margin: 5px;
}

.loginBtn{
	display:inline-block;
}

.inputUserIcon {
  position:absolute;
  top: 45px;
  right: 65px;
  color:white;
}

.inputPassIcon {
  position:absolute;
  top:120px;
  right: 65px;
  color:white;
}
.login-form input::-webkit-input-placeholder {
	color: white;
}

.login-form input:focus::-webkit-input-placeholder {
	color: #e74c3c;
}

.errorMessage{
	padding: 10px
}