<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<title>Insert title here</title>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/header.css" />

</head>
<body>
	<nav class="navbar navbar-expand-lg bg-light">
		<div class="container-fluid">
			<img src="http://localhost:8080/images/Logo.png" class="logoImg" /> <a
				class="navbar-brand" href="/">사조마켓</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarScroll"
				aria-controls="navbarScroll" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarScroll">
				<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
					style="-bs-scroll-height: 100px;">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#">중고거래</a></li>
				</ul>
				<form class="d-flex" role="search">
					<input class="form-control me-2" type="search"
						placeholder="물품이나 동네를 검색해주세요." aria-label="Search">
					<button class="btn btn-outline-success" type="submit">검색</button>
				</form>
			</div>
		</div>
	</nav>
	
	<form class="login-form" action="" method="post"
		th:object="${loginForm}" name="login">
		<!-- 			<h2><span class="entypo-login"><i class="fa fa-sign-in"></i></span> Login</h2> -->

		<span class="entypo-user inputUserIcon"> <i class="fa fa-user"></i>
		</span> <label for="loginId"></label> <input type="text" th:field="*{email}"
			class="user" id="email" placeholder="아이디(이메일)를 입력해주세요."> <span
			class="entypo-key inputPassIcon"> <i class="fa fa-key"></i>
		</span> <label for="password"></label> <input type="password"
			th:field="*{password}" class="pass" id="password"
			placeholder="비밀번호를 입력해주세요.">
		<div class="loginBtn">
		<button type="button" th:onclick="|location.href='@{/}'|"
			class="backBtn" id="btn">취소</button>
		<button type="submit" class="loginBtn">
			<span class="entypo-lock"><i class="fa fa-lock"></i></span>
		</button>
		</div>	
		<div class="errorMessage">
			<div th:errors="*{email}"></div>
			<div th:errors="*{password}"></div>
		</div>
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="error : ${#fields.globalErrors()}" th:text="${error}">
				글로벌오류</p>
		</div>
		<div>
			<a href="/join" class="login-join">회원이 아니신가요?</a><br /> <a
				href="/login/findPw" class="login-findPw">비밀번호를 잊어버리셨나요?</a>
		</div>
	</form>
	<script type="text/javascript">

	$(".user").focusin(function(){
	  $(".inputUserIcon").css("color", "#e74c3c");
	}).focusout(function(){
	  $(".inputUserIcon").css("color", "white");
	});
	
	$(".pass").focusin(function(){
	  $(".inputPassIcon").css("color", "#e74c3c");
	}).focusout(function(){
	  $(".inputPassIcon").css("color", "white");
	});
</script>
	<!-- JavaScript Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
		crossorigin="anonymous"></script>
</body>
</html>