<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.project.TunaProject.repository.mybatis.CategoryItemMapper">

	<select id="selectAll" resultType="Category">
		select * from TUNA_CATEGORY order by ctCode
	</select>

	<update id="updateCtName" parameterType="Category">
		update TUNA_CATEGORY
		set ctName = #{ctName}
		where ctCode = #{ctCode}
	</update>

	<insert id="insertCategory">
		insert into tuna_category
		values(concat('ct',CATEGORYSQ.nextVal), #{ctName})
	</insert>
</mapper>