<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.project.TunaProject.repository.mybatis.ImageItemMapper">

	<insert id="insert" parameterType="Image">
		INSERT INTO TUNA_POSTIMAGE
		values (
			IMAGECODESQ.nextVal,
		    #{imageName},
		    #{imageFiles},
		    #{IType},
		    #{ITarget}
			   )
	</insert>

	<select id="selectAll" resultType="Image">
		select *
		from TUNA_POSTIMAGE
		where IType = #{code}
		order by IMAGECODE
	</select>
</mapper>