<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="com.project.TunaProject.repository.mybatis.NotifyMapper">

	<insert id="insertNotify">
		
	insert into TUNA_NOTIFY 
	values
			(TUNA_notifyCode.nextVal
			, #{notifyTarget}
			, #{notifyType}
			, SYSDATE
			, #{doNotifyMemberCode}
			, #{notifyMemberCode}
			
			)
	</insert>
	
	<select id="notifyCheck" resultType="Integer">
	select count(*) 
	from tuna_notify 
	where NOTIFYTYPE = #{notifyType} 
	and donotifyMemberCode= #{doNotifyMemberCode}
	</select>
	
	<select id="notifyfilter" resultType="Integer">
	select count(*) 
	from tuna_notify 
	where NOTIFYTYPE = #{messageCode} 
	</select>

	<select id="selectNotifyAll" resultType="Notify">
	select notifycode, notifytype, notifytime, donotifymembercode, notifymembercode
	from tuna_notify
	where notifytarget = #{target}
	</select>

	<select id="selectNotifyChatAll" resultType="ChatMSG">
		select messagecode, chatcode, contents, notifytime, imagecode, notifycode, notifytarget, notifytype,
			donotifymembercode, notifymembercode
		from tuna_message m, tuna_notify n
		where m.messagecode = n.notifytype
		and n.notifytarget = 2;
	</select>

</mapper>